@import url("https://fonts.googleapis.com/css2?300,400family=Ubuntu&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

/* ----------------------------------------- */

/* Sticky Nav bar for Desktop screens */
.navbar {
  top: 0; /* To remove the gap */
  display: flex;
  cursor: pointer;
  position: sticky;
  align-items: center;
  justify-content: center;
}

/* Left side - Navbar list items  */
.left-nav {
  width: 50%;
  display: flex;
  align-items: center;
}
/* Remove list bullets */
.left-nav li {
  list-style: none;
  padding: 2vh 3vh;
}

/* Remove underline */
.left-nav li a {
  color: white;
  text-decoration: none;
}

/* Pseudo selectors  - Change effect on hover*/
.left-nav li a:hover {
  color: gray;
}

/* Right side - Search field & search button */
.right-nav {
  padding: 0 23px;
  width: 50%;
  text-align: right;
}

.search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid gray;
  border-radius: 9px;
}

.background {
  background: rgba(0, 0, 0, 0.7) url(../images/buildings.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

/* ----------------------------------------- */

/* ----------------------------------------- */

/* Circular image for Logo  */
.logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
}

/* ----------------------------------------- */

/* ----------------------------------------- */

.first-section {
  height: 100vh;
}

.main-box {
  margin: auto;
  height: 75%;
  display: flex;
  color: white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-half {
  width: 70%;
  object-fit: cover;
}

.second-half .second-half-img {
  border: 4px solid white;
  margin: auto;
}

.big-txt {
  font-size: min(4vw, 44px);
}

.small-txt {
  font-size: min(2vw, 22px);
}

/* ----------------------------------------- */

/* For fitting main image inside the circle */
.img-crop {
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.img-center {
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: inline;
  margin-left: -25%;
}

/* ----------------------------------------- */

/* ----------------------------------------- */

.section-tag {
  padding: 8px 0;
}
.btn {
  margin: 8px 3px;
  color: white;
  cursor: pointer;
  background: none;
  padding: 8px 20px;
  border-radius: 8px;
  border: 2px solid white;
}

.btn-small {
  padding: 6px 10px;
}

.second-section {
  margin: auto;
  display: flex;
  height: 500px;
  max-width: 80%;
  font-weight: 300;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  justify-content: space-evenly;
}

.reverse {
  flex-direction: row-reverse;
}

.paras {
  padding: 0 100px;
}

.img-fluid {
  width: 300px;
  border: 3px solid black;
  border-radius: 23px;
}

.section-subtag {
  font-size: 20px;
  letter-spacing: 1.1px;
}

.contact {
  padding: 30px 0;
  background: #f6f5f4;
  font-family: "Ubuntu", sans-serif;
}
.contact h2 {
  padding: 25px 0 0 0;
  text-align: center;
  font-size: 35px;
}

.form {
  margin: auto;
  max-width: 500px;
  padding: 20px 0 0 0;
}

.form-field {
  width: 100%;
  padding: 5px;
  margin: 20px 0;
  font-size: 20px;
  border-radius: 6px;
  border: 2px solid gray;
  font-family: "Ubuntu", sans-serif;
}

.btn-dark {
  color: black;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid gray;
}

footer p {
  padding: 30px 0;
  color: white;
  font-size: 13px;
  text-align: center;
}
